@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fade-in-up {
  @apply transform opacity-0 translate-y-10;
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

